/*h1,
h2,
h3,
h4,
h5,
h6,
label {
	font-family: 'Oswald', sans-serif;
}*/

/*.information p, .information li{
	font-family: 'Lato', sans-serif;
	text-align: justify;
}*/

/*.home-menu {
	background-color: #2c3e50;
	color: #ecf0f1;

	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}*/

/*.home-menu a {
	color: #ecf0f1;
}*/

/*.pure-menu-children a {
	color: #2c3e50;
}*/

/*.padded {
	padding-top: 3.9em;
}*/

/*.information.pure-g {
	max-width: 980px;
	margin: 0 auto;
}*/

/*.big-accent {
	font-size: 200%;
}*/

#about, #social {
	margin-top: -1.4em;
}

#contact {
	margin-top: -0.5em;
}

.pure-g.logo-list, .logo-list p {
	text-align: center;
}

.animate-up {
	transition: 0.2s;
}

.animate-up:hover {
	margin-top: -0.5em;
}

/*.social {
	list-style: none;
}

.social a {
	color: inherit;
	text-decoration: none;
}

.social div {
	transition: 1s;
	z-index: 10;
	position: relative;
}

.social div:hover {
	color: #2c3e50;
}*/

/*.footer {
	margin-top: 5em;
}*/
